html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  background: #333;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.4em;
}
h1 {
  line-height: 1.2em;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
.header {
  text-align: left;
}
.header .unselectable; margin-bottom: 5px;,
.header .logo {
  text-decoration: none;
  color: #333;
}
.header .twitter {
  text-decoration: none;
  color: #666;
}
.sections {
  display: none;
}
.sections a {
  text-shadow: 0 1px 0 #fff;
}
.essays .sections a.essays {
  background: #fff;
  text-shadow: 0 1px 0 #ddd;
}
h1 {
  font-family: "Open Sans", Helvetica;
}
h1 a {
  text-decoration: none;
  color: #333;
}
#landing .head,
#landing .sections {
  width: 800px;
  float: left;
}
#landing .head {
  padding: 25px 50px 0 50px;
  background: #ddd;
}
#landing .head h1 a {
  text-shadow: 0 1px 0 #fff;
}
#landing .sections {
  padding: 25px 100px 0 0;
  background: #ddd;
}
#landing .sections a {
  display: block;
  float: left;
  padding: 10px 50px 5px;
  margin: 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  color: #333;
}
#landing .posts {
  margin-left: 40px;
}
#landing .posts .post-listing .title {
  font-size: 20px;
  font-weight: 100;
}
#landing .posts .post-listing .count {
  color: #333;
  font-size: 24px;
  margin: 0 10px 0 -38px;
  position: relative;
  top: 2px;
  font-weight: 100;
  text-decoration: none;
}
#landing .side {
  float: left;
  color: #fff;
}
#landing .side a {
  color: #fff;
}
.mainContent {
  float: left;
  width: 800px;
  padding: 50px;
  background: #fff;
}
#post {
  width: 1410px;
}
#post .mainContent {
  float: left;
}
#post #disqus_thread {
  float: right;
  width: 480px;
  padding: 174px 0 0 0;
  opacity: 0.8;
}
#post li {
  margin: 0 0 6px 0;
}
@media screen and (max-width: 900px) {
  #landing .side {
    float: none;
  }
  #post {
    width: 800px;
  }
  #post .body {
    float: none;
  }
  #post #disqus_thread {
    float: none;
    width: 800px;
    clear: both;
    padding: 50px;
  }
}
@media screen and (max-device-width: 800px) {
  #landing .side {
    float: none;
  }
  #post {
    width: 800px;
  }
  #post .body {
    float: none;
  }
  #post #disqus_thread {
    float: none;
    width: 800px;
    clear: both;
    padding: 50px;
  }
}
* {
  cursor: default;
}
code {
  font-family: "courier new";
  cursor: text;
  padding: 3px 2px 3px;
  position: relative;
  bottom: 1px;
  font-weight: 100;
}
a,
a > img {
  cursor: pointer;
}
pre {
  padding: 5px 0 3px 7px;
  line-height: 20px;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
pre,
code {
  background-color: #002f58;
  color: #fff;
  font-size: 14px;
}
code .string {
  color: #3ad900;
}
code .keyword {
  color: #ffee7d;
}
code .operator {
  color: #f29d20;
}
code .xml {
  color: #d27d00;
}
/*code .type { color: #ff9d1b; }*/
code .type {
  color: #f8d700;
}
code .global {
  color: #f8d700;
}
code .attr {
  color: #eb8f86;
}
