html, body { font-family Helvetica, Arial, sans-serif; color:#333; margin 0; background #333; font-weight 100; font-size 18px; line-height 1.4em; }

h1
	line-height 1.2em;

.unselectable {
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:default;
}

contentSpace = 50px;
contentWidth = 800px;
contentTotalWidth = contentWidth + contentSpace * 2;
narrow = "screen and (max-width: "+contentTotalWidth+")"
mobile = "screen and (max-device-width: 800px)"

.header
	text-align left; .unselectable; margin-bottom: 5px;
	.logo { text-decoration: none; color: #333; }
	.twitter { text-decoration: none; color: #666; }

.sections
	display none;
.sections a
	text-shadow 0 1px 0 #fff;
.essays .sections a.essays
	background #fff; text-shadow 0 1px 0 #ddd;

h1
	font-family "Open Sans", Helvetica;
	a
		text-decoration none; color #333;

#landing
	.head, .sections
		width contentWidth; float left;
	.head
		padding (contentSpace/2) contentSpace 0 contentSpace; background #ddd;
		h1 a
			text-shadow 0 1px 0 #fff;
	.sections
		padding (contentSpace/2) contentSpace*2 0 0; background #ddd;
		a
			display block; float left; padding 10px 50px 5px; margin 0; border-radius 2px 2px 0 0; text-decoration none; color #333;
	.posts
		margin-left 40px;
		.post-listing
			.title
				font-size 20px; font-weight 100;
			.count
				color #333; font-size 24px; margin 0 10px 0 -38px; position relative; top 2px; font-weight 100; text-decoration none;
	.side
		float left; color #fff;
		a
			color #fff;

.mainContent
	float left; width contentWidth; padding contentSpace; background #fff;

#post
	width contentTotalWidth + 510px; 
	.mainContent { float: left; }
	#disqus_thread { float: right; width: 480px; padding: 174px 0 0 0; opacity: .8; }
	li { margin: 0 0 6px 0; }

narrowContent()
	#landing
		.side
			float none;
	#post
		width 800px;
		.body
			float none;
		#disqus_thread
			float none; width 800px; clear both; padding contentSpace;

@media narrow
	narrowContent()
@media mobile
	narrowContent()

* { cursor: default; }
code { font-family "courier new"; cursor: text; padding: 3px 2px 3px; position: relative; bottom: 1px; font-weight 100; }
a, a > img { cursor: pointer; }

pre { padding: 5px 0 3px 7px; line-height: 20px; width:100%; overflow:auto; -webkit-overflow-scrolling: touch; }

pre, code { background-color: #002f58; color: #fff; font-size 14px; }

code .string { color: #3ad900; }
code .keyword { color: #ffee7d; }
code .operator { color: #f29d20; }
code .xml { color: #d27d00; }
/*code .type { color: #ff9d1b; }*/
code .type { color: #f8d700; }
code .global { color: #f8d700; }
code .attr { color: #eb8f86; }

