html, body { font-family Helvetica, Arial, sans-serif; color:#333; margin 0; font-weight 100; font-size 16px; line-height 1.4em; }

h1
	line-height 1.2em;

.unselectable {
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:default;
}

contentSpace = 50px;
contentWidth = 800px;
contentTotalWidth = contentWidth + contentSpace * 2;
sideWidth = 300px
narrow = "screen and (max-width: "+(contentTotalWidth + sideWidth)+")"
mobile = "screen and (max-device-width: 800px)"

.header
	text-align left; .unselectable; margin-bottom: 5px;
	.logo { text-decoration: none; color: #333; }
	.twitter { text-decoration: none; color: #666; }

.sections a
	text-shadow 0 1px 0 #fff;
.essays .sections a.essays
	background #fff; text-shadow 0 1px 0 #ddd;
.drawings .sections a.drawings
	background #fff; text-shadow 0 1px 0 #ddd;
.designs .sections a.designs
	background #fff; text-shadow 0 1px 0 #ddd;


h1, h2, h3
	font-family "Open Sans", Helvetica;
	a
		text-decoration none; color #333;

headerColor = #cde
#landing
	.head, .sections
		width 100%; float left;
	.head
		padding (contentSpace/2) contentSpace 0 contentSpace; background headerColor;
		h1 a
			text-shadow 0 1px 0 #fff;
	.sections
		padding (contentSpace/2) contentSpace*2 0 0; background headerColor;
		a
			display block; float left; padding 10px 50px 5px; margin 0; border-radius 2px 2px 0 0; text-decoration none; color #333;
	.posts
		margin-left 40px;
		.post-listing
			.title
				font-size 1.2em; font-weight 100;
			.count
				color #333; font-size 1.4em; margin 0 10px 0 -38px; position relative; top 2px; font-weight 100; text-decoration none;
	.side
		position fixed; right 0; top 0; color #fff; background #333; height 100%; padding (contentSpace/4);
		a
			color #fff;

#links
	a
		display block; text-decoration none; cursor pointer;
	a
		.icon
			display inline-block; width 32px; height 32px; background-size:32px 32px; margin (contentSpace/8); margin-bottom 0; cursor pointer;
		.icon.twitter { background-image:url('/links/twitter.png'); }
		.icon.github { background-image:url('/links/github.png'); }
		.icon.dribbble { background-image:url('/links/dribbble.png'); }
		.icon.linkedin { background-image:url('/links/linkedin.png'); }
		.icon.gmail { background-image:url('/links/gmail.png'); }
		.label
			display inline-block; position relative; top -10px; cursor pointer;
			

#drawings
	a.drawing
		text-decoration none; display block; float left;
		img
			margin 2px; border 1px solid #fff;
		img:hover
			border 1px solid #999;

.mainContent
	float left; width contentWidth; padding contentSpace; background #fff;

#post
	width contentTotalWidth + 510px; 
	.mainContent { float: left; }
	#disqus_thread { float: right; width: 480px; padding: 174px 0 0 0; opacity: .8; }
	li { margin: 0 0 6px 0; }

narrowContent()
	#landing
		.side
			position static; width auto;
	#post
		width 800px;
		.body
			float none;
		#disqus_thread
			float none; width 800px; clear both; padding contentSpace;

@media narrow
	narrowContent()
@media mobile
	narrowContent()

* { cursor: default; }
code { font-family "courier new"; cursor: text; padding: 3px 2px 3px; position: relative; bottom: 1px; font-weight 100; }
a, a > img { cursor: pointer; }

pre { padding: 5px 0 3px 7px; line-height: 20px; width:100%; overflow:auto; -webkit-overflow-scrolling: touch; }

pre, code { background-color: #002f58; color: #fff; font-size 14px; }

code .string { color: #3ad900; }
code .keyword { color: #ffee7d; }
code .operator { color: #f29d20; }
code .xml { color: #d27d00; }
/*code .type { color: #ff9d1b; }*/
code .type { color: #f8d700; }
code .global { color: #f8d700; }
code .attr { color: #eb8f86; }

