html, body { font-family "Open Sans", Helvetica, Arial, sans-serif; color:#333; margin 0; background #333; }

.unselectable {
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:default;
}

contentSpace = 50px;
contentWidth = 800px;
contentTotalWidth = contentWidth + contentSpace * 2;
narrow = "screen and (max-width: "+contentTotalWidth+")"

.header
	text-align left; .unselectable; margin-bottom: 5px;
	.logo { text-decoration: none; color: #333; }
	.twitter { text-decoration: none; color: #666; }

#landing
	.head
		width contentWidth; padding contentSpace contentSpace 0 contentSpace; background #ddd; float left;
	.posts
		margin-left 40px;
		.post-listing
			.count
				color #666; font-size 22px; margin 0 10px 0 -40px; position relative; top 4px; font-weight 200; text-decoration none;
	.side
		float left; color #fff;
		a
			color #fff;

.mainContent
	float left; width contentWidth; padding contentSpace; background #fff;

#post
	width 1400px; 
	.mainContent { float: left; }
	#disqus_thread { float: right; width: 480px; padding: 70px 0 0 0; opacity: .8; }
	li { margin: 0 0 6px 0; }

@media narrow
	#landing
		.side
			float none;
	#post
		width 800px;
		.body
			float none;
		#disqus_thread
			float none; width 800px; clear both; padding contentSpace;

* { cursor: default; }
code { cursor: text; padding: 1px 2px 0; position: relative; bottom: 1px; }
a, a > img { cursor: pointer; }

pre { padding: 5px 0 3px 7px; line-height: 20px; width:100%; overflow:auto; -webkit-overflow-scrolling: touch; }

pre, code { background-color: #002f58; color: #fff; }

code .string { color: #3ad900; }
code .keyword { color: #ffee7d; }
code .operator { color: #f29d20; }
code .xml { color: #d27d00; }
/*code .type { color: #ff9d1b; }*/
code .type { color: #f8d700; }
code .global { color: #f8d700; }
code .attr { color: #eb8f86; }

